#player {
    background-color: rgba(30, 30, 30, 1);
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    -moz-user-select: none;
    user-select: none; /* Standard syntax */
}
i {
    color: rgba(70, 70, 70, 1);
/*     background-color: rgba(70, 70, 70, 1); */
}
i:hover {
    color: rgba(50, 170, 220, 1);
/*     background-color: rgba(70, 70, 70, 1); */
}
i, #pbar-container, #sbar-container {
    cursor: pointer;
}
#video-container {
    position: relative;
}
video {
    height: 100%;
    width:100%;
}
#screen {
    height: 100%;
    width:100%;
    line-height: 360px;
    text-align: center;
    position: absolute;
    z-index: 100;
    /* background-image: radial-gradient(white, black); /* Standard syntax (must be last) */
    background: rgba(255,255,255, 0.7);
    background: -moz-radial-gradient(circle, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(circle, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);

}
#screen i {
    vertical-align: middle;
}
#pbar-container {
    margin-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(70, 70, 70, 1);
}
#pbar {
    height: 5px;
    width: 0%;
    background-color: rgba(50, 170, 220, 1);
}
#buttons-container {
    height:50px;
}
#buttons-container > * {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
/*     border: 1px solid #FFF; */
}

#time-field {
    color: rgba(50, 170, 220, 1);
    line-height: 50px;
    cursor: default;
}
#sbar-container {
    margin-left: 0;
    width: 100px;
    height:5px;
    background-color: rgba(70, 70, 70, 1);
}
#sbar {
    height: 100%;
    width: 100%;
    background-color: rgba(50, 170, 220, 1);
}
#sound-button {
    margin-right: 0;
}
#fullscreen-button {
    float:right;
}
